/* Used for styles specific to the App component or top-level component styling. */

/* --- Navbar --- */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Brand section styling */
.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 30px;
    /* Adjust logo size as needed */
    margin-right: 10px;
    /* Spacing between logo and brand name */
}

.brand span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

/* Navbar links */
.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: gray;
    font-weight: 500;
}

.links ul li a:hover {
    color: black;
    /* Hover effect */
}

/* Responsive toggle button */
.toggle {
    display: none;
    /* Hide on desktop, will show on mobile */
}

/* Connect button style */
.account-info button {
    background-color: #d6ff4b;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-info button:hover {
    background-color: #c3e540;
    /* Slightly darker green on hover */
}

.pages-link {
    text-decoration: none;
    color: black;
}

.pages-link:hover {
    color: gray;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .links ul {
        display: none;
        /* Hide links on mobile */
    }

    .toggle {
        display: block;
        /* Show toggle button on mobile */
        font-size: 1.5rem;
        cursor: pointer;
    }

    .links.show ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 1rem;
        gap: 1rem;
    }
}

/* --- Home --- */
.banner {
    position: static;
    background-image: url('./assets/DonateX-home-main.png');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin: 1rem 2rem;
    height: 650px;
    color: white;
    display: flex;
    align-items: end;
}

.banner-text {
    text-align: left;
    color: white;
    position: relative;
    z-index: 2;
    /* Ensures the text is above the image */
    display: flex;
    flex-direction: row;
    align-items: end;
}

.banner-text h1 {
    font-size: 13.5rem;
    margin: 0 .5rem;
    font-weight: bold;
}

.banner-text p {
    font-size: 4.5rem;
    width: 14rem;
    margin: 2.3rem 0;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}

/* Button Adjustment */
.start-fundraising-button {
    margin: 0 0 3.75rem 32rem;
    background-color: #b2f14e;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.start-fundraising-button:hover {
    background-color: #9bd73f;
    transform: scale(1.02);
    /* Subtle hover effect */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .banner-text {
        flex-direction: row;
        align-items: start;
    }

    .banner-text h1 {
        font-size: 7rem;
        margin: .25rem .25rem;
    }

    .banner-text p {
        font-size: 2.5rem;
        /* margin: 0 .75rem; */
        width: 8rem;
    }

    .start-fundraising-button {
        display: none;
    }
}

@media (max-width: 1024px) {
    .banner-text h1 {
        font-size: 7rem;
    }

    .banner-text p {
        font-size: 2.4rem;
        width: 10rem;
        margin: 1.25rem 0;
    }

    .start-fundraising-button {
        margin: 0 0 2.5rem 7rem;
    }
}

/* --- Work --- */
/* CSS for Work Component */
.work {
    padding: 40px 30px;
    font-family: 'Arial', sans-serif;
    text-align: left;
}

.work-top {
    margin-bottom: 40px;
}

.work-top h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.work-top p {
    font-size: 1.35rem;
    color: gray;
    line-height: 1.6;
}

.work-btm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.work-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.work-box .icon {
    background: #e0f7fa;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px 0;
}

.icons {
    font-size: 2.5rem;
    color: #9bd73f;
}

.work-box h1 {
    font-size: 1.75rem;
    margin-bottom: 10px;
    color: #333;
}

.work-box p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .work-top p {
        font-size: 1.125rem;
    }

    .work-btm {
        flex-direction: column;
        align-items: center;
    }

    .work-box {
        width: 90%;
    }
}

/* --- Donate --- */
/* Main container */
.donate-main {
    text-align: left;
    margin: 30px;
    padding: 3rem 0;
    width: auto;
}

.donate-main h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

.donate-main p {
    font-size: 1.35rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Donation cards container */
.donation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* Individual donation box */
.donation-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 70px);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.donation-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.donation-content h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    margin: 10px 0;
}

.donation-content p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/* Progress bar styling */
.donation-progress-bar {
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    height: 10px;
    margin: 10px 0;
    position: relative;
}

.donation-progress {
    height: 100%;
    background-color: #9bd73f;
    border-radius: 10px;
}

/* Donation info */
.donation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donation-info h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
}

.donation-info p {
    font-size: 1rem;
    color: #888;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .donation-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .donation-box {
        width: 100%;
    }

    .donate-main h1 {
        font-size: 2rem;
    }

    .donate-main p {
        font-size: 1rem;
    }
}

/* --- Fundraiser --- */
.fundraiser-container {
    padding: 2rem;
    padding: 8rem 0;
    position: relative;
    overflow: hidden;
}

.fundraiser-image {
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.top-left {
    width: 150px;
    height: 200px;
    top: 2rem;
    left: 7rem;
}

.top-right {
    width: 150px;
    height: 200px;
    top: 2rem;
    right: 7rem;
}

.bottom-left {
    width: 150px;
    height: 150px;
    bottom: 10rem;
    left: 17.5rem;
}

.bottom-right {
    width: 150px;
    height: 150px;
    bottom: 10rem;
    right: 17.5rem;
}

.text-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-overlay h1 {
    font-size: 2rem;
}

.text-overlay h2 {
    font-size: 9rem;
}

.text-overlay p {
    font-size: 1.6rem;
    font-weight: 500;
}

.text-overlay button {
    margin: 2rem;
    padding: 15px;
    background-color: #9bd73f;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.text-overlay button:hover {
    background-color: #c3e540;
    color: #666;
}

@media (max-width: 768px) {
    .top-left {
        width: 100px;
        height: 150px;
        top: 1rem;
        left: 1rem;
    }

    .top-right {
        width: 100px;
        height: 150px;
        top: 1rem;
        right: 1rem;
    }

    .bottom-left {
        width: 100px;
        height: 100px;
        bottom: 8.5rem;
        left: 25rem;
    }

    .bottom-right {
        width: 100px;
        height: 100px;
        bottom: 8.5rem;
        right: 25rem;
    }

    .text-overlay h1 {
        font-size: 1.05rem;
    }

    .text-overlay h2 {
        font-size: 5.5rem;
    }

    .text-overlay p {
        font-size: .9rem;
        font-weight: 500;
    }

    .text-overlay button {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .top-left {
        width: 100px;
        height: 150px;
        top: 2rem;
        left: 1rem;
    }

    .top-right {
        width: 100px;
        height: 150px;
        top: 2rem;
        right: 1rem;
    }

    .bottom-left {
        width: 150px;
        height: 100px;
        bottom: 6rem;
        left: 5rem;
    }

    .bottom-right {
        width: 150px;
        height: 100px;
        bottom: 6rem;
        right: 5rem;
    }
}

/* --- About --- */
.faq-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-container h1 {
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-item {
    border-bottom: 2px solid #000;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.faq-icon {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.active .faq-answer {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .faq-container h1 {
        font-size: 30px;
    }

    .faq-question {
        font-size: 18px;
    }

    .faq-icon {
        font-size: 25px;
    }

    .faq-answer {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .faq-container h1 {
        font-size: 18px;
    }

    .faq-question {
        font-size: 14px;
    }

    .faq-icon {
        font-size: 18px;
    }

    .faq-answer {
        font-size: 12px;
    }
}

/* --- Footer --- */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: start;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 2rem;
}

/* Footer Sections */
.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-logo {
    text-align: left;
    margin-right: 17.5rem;
}

.footer-logo-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo-icon img {
    height: 30px;
    width: 30px;
    /* margin: 10px; */
}

.footer h2 {
    font-size: 30px;
    margin: 10px 7.5px;
}

.footer p {
    font-size: 14px;
    color: #ccc;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 10px 0;
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
}

.footer ul li:hover {
    color: #fff;
}

/* Divider */
.footer-divider {
    border-top: 3.5px solid whitesmoke;
    border-radius: 25px;
    margin: 20px 20px;
}

/* Footer Bottom Section */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: #aaa;
    margin: 0 2rem;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.social-icon {
    background-color: #444;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.social-icon:hover {
    background-color: #fff;
    color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: row;
        align-items: center;
    }

    .footer-section {
        text-align: start;
    }

    .footer-section {
        margin: 10px;
    }

    .footer-logo {
        text-align: left;
        margin-right: 4rem;
        margin-bottom: 2.5rem;
    }

    .footer-logo-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
    }
}

/* --- Create Campaign --- */
.campaign-container {
    max-width: 1280px;
    margin: 2rem auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.header h1 {
    /* text-align: center; */
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #333;
}

.header button {
    cursor: pointer;
    font-size: 12.5px;
    padding: 5px;
    margin: 0 0 55px 10px;
    border: none;
    border-radius: 10px;
    color: #333;
    font-weight: bold;
    background-color: #9bd73f;
}

.header button:hover {
    color: #666;
    scale: 1.1;
}

.campaign-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    margin: 3rem 0;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-preview {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f7;
    border-radius: 20px;
    height: 300px;
    width: 50%;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.placeholder {
    text-align: center;
    font-size: 14px;
    color: #999;
}

.campaign-form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.type-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.submit-button {
    padding: 10px;
    background-color: #59d400;
    color: #555;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #6dff00;
    color: #333;
}

@media (max-width: 768px) {
    .campaign-content {
        flex-direction: column;
    }

    .image-preview {
        margin-bottom: 10px;
    }

}

@media (max-width: 1024px) {
    .campaign-content {
        flex-direction: column;
        width: 100%;
    }

    .image-preview {
        width: 80%;
    }

    .campaign-form {
        width: 80%;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header button {
        font-size: 12px;
    }
}

/* --- Campaigns --- */
.campaign-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.campaign-list-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campaign-list-head h1 {
    /* text-align: center; */
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Category Dropdown */
.category-dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.category-button {
    background-color: #9bd73f;
    color: #333;
    padding: 2px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.category-button:hover {
    /* background-color: #6dff00; */
    color: #fff;
}

.dropdown-menu {
    position: absolute;
    top: 35%;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100px;
}

.dropdown-item {
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: left;
}

.dropdown-item:hover {
    background-color: #6dff00;
    color: white;
}

/* Campaign Cards */
.campaign-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.campaign-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 15px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.campaign-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #666;
    margin: 10px 0;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal {
    font-size: 1rem;
    font-weight: bold;
    color: #222;
}

.end-date {
    font-size: 1rem;
    color: #888;
}

.donate-button {
    background-color: #9bd73f;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.donate-button:hover {
    background-color: #6dff00;
    color: #666;
}

/* Mobile Responsiveness */
@media (max-width: 1024px) {
    .goal {
        font-size: 0.75rem;
    }

    .end-date {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .campaign-list-head h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #333;
    }

    .dropdown-menu {
        top: 1.6rem;
    }

    .campaign-cards {
        flex-direction: column;
        gap: 2rem;
    }

    .campaign-card {
        width: 100%;
    }

    .goal {
        font-size: 1rem;
    }

    .end-date {
        font-size: 1rem;
    }
}

/* --- UserCampaigns --- */
.start-campaign {
    cursor: pointer;
    font-size: 12.5px;
    padding: 0 5px;
    margin: 0 0 55px 10px;
    border: none;
    border-radius: 10px;
    color: #333;
    font-weight: bold;
    background-color: #9bd73f;
}

.start-campaign:hover {
    color: #666;
    scale: 1.1;
}

@media (max-width: 1024px) {
    .start-campaign {
        padding: 5px;
    }
}